.hero{
    display: flex;
    justify-content: space-between;
}
.left-h{
   padding: 2rem;
    padding-top: 1.5rem;
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 2rem;
    color: white;
}
.right-h{
    
    flex:1
}
.the-best-ad{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
 align-items: center;
    justify-content: flex-start;
}
.the-best-ad>span{
    z-index: 2;
}
.the-best-ad>div{
    position: absolute;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    background-color: var(--orange);
    z-index: 1;
}